<!-- <% @user.each do |t| %>
<%= t.username %>
<% end %> --> 

<div class = "body_image">
   <img src = "tahta.png">

   <div class = "Main Content">
   </div> <!-- end of main content-->
</div> <!-- end of body image -->