<h1> Post Index Page </h1>

<% @posts.reverse.each do |post| %>
  <h3> Username </h3>
  <p> <%=post.user.username%> </p>
   <h3> Title </h3>
  <p> <%=post.posttitle%> </p>
   <h3> Text </h3>
  <p> <%=post.posttext%> </p>
    <h3> Comments </h3>
    <% post.comments.each do |c| %>
     <p> <%=c.commenttext%> </p>
   <% end %>
<% end %>   

